@{
    ViewData["Title"] = "Tutorial";
}

<div>
    <h3 class="text-center">Let's take an example of how Moodle Assistant works.</h3>
    <p>
        Think about teachers asking their students what is the capital of some states.
        How boring can be create a question for each state?
        Moodle Assistant can be the solution!
    </p>
</div>
<div>
    <h4 class="text-center guide-title">1. First of all you need a Moodle question in Moodle XML Format.</h4>
    <p>
        When you create a question, where possible, you must put into question and answers textarea "placeholders".<br />
        Placeholders format is <code>[*[[what-you-want]]*]</code> and are used from Moodle Assistant to find which word you want to replace.
        Now you must export the question in Moodle XML Format.
        (<a href="https://docs.moodle.org/310/en/Export_questions" target="_blank">How to export questions in Moodle?</a>) Make sure do not check "write category to file".
        If it is not possible to edit directly in Moodle you must find your identifiers and add <code>[*[[</code> and <code>]]*]</code> in file previously exported.<br />
        In our example we had:
    </p>
</div>
<div class="text-center">
    <img src="@Url.Content("~/Images/questionExample.png")" alt="Question with placeholders example." class="text-center" />
</div>
<div class="offset-md-4 col-md-4 mt-3">
    <a href="@Url.Content("~/files/moodleAssistantXmlExample.xml")" download="@Url.Content("~/files/moodleAssistantXmlExample.xml")">
        <input type="button" id="download-xml" class="btn btn-outline-secondary btn-block" value="Download XML example" />
    </a>
</div>
<div>
    <h4 class="text-center guide-title">2. Upload XML file.</h4>
    <p>
        Go to <code>Expand a Question</code> tab, click the <code>arrow up</code> button and upload the file previously exported.
    </p>
</div>
<div class="text-center">
    <img src="@Url.Content("~/Images/uploadXML.png")" alt="Upload question page." class="text-center site-screen-img" />
</div>
<div>
    <h4 class="text-center guide-title">3. Check your input.</h4>
    <p>
        If everything is correct during the upload, now it is time to check if there are any type of errors: check out chosen identifiers
        and look for any kind of typing errors. Click on <code>upload CSV</code>.
    </p>
</div>
<div class="text-center">
    <img src="@Url.Content("~/Images/summaryPage.png")" alt="Summary Page." class="text-center site-screen-img" />
</div>
<div>
    <h4 class="text-center guide-title">4. Upload CSV.</h4>
    <p>
        On this page we have to upload a <code>CSV file</code> with words that we want to replace. The CSV's first line (header) must contain all 
        of the identifiers that we used as placeholders. Make sure, opening it with a text editor, that does not contain empty fields 
        or extra commas. If you want to use a comma in a field you must put all the field into quotes. Furthermore, if you want insert a quote it must be preceded by another quote mark. In our example:
    </p>
</div>
<div class="text-center">
    <img src="@Url.Content("~/Images/csvExample.png")" alt="CSV example." class="text-center" />
</div>
<div class="offset-md-4 col-md-4 mt-3">
    <a href="@Url.Content("~/files/moodleAssistantCsvExample.csv")" download="@Url.Content("~/files/moodleAssistantCsvExample.csv")">
        <input type="button" id="download-csv" class="btn btn-outline-secondary btn-block" value="Download CSV example" />
    </a>
</div>
<div>
    <h4 class="text-center guide-title">5. Download questions.</h4>
    <p>
        Now we can download an XML file. It contains a question for each row of the CSV previously uploaded. Click on the <code>arrow down</code> button and
        the download will start automatically.
    </p>
</div>
<div class="text-center">
    <img src="@Url.Content("~/Images/downloadPage.png")" alt="Download page." class="text-center site-screen-img" />
</div>
<div>
    <h4 class="text-center guide-title">6. Upload questions.</h4>
    <p>
        Upload the <code>questions.xml</code> file downloaded in your Moodle instance. (<a href="https://docs.moodle.org/310/en/Import_questions#Question_bank_import_process" target="_blank">How to import questions in Moodle?</a>)
    </p>
</div>
<div class="container mt-md-5 mt-1 mb-md-5 mb-1">
    <div class="row">
        <div class="col">
            <div class="offset-md-2 col-md-8 mt-3">
                <a asp-controller="Xml" asp-action="Upload" target="_blank">
                    <input type="button" id="uplod-xml" class="btn btn-outline-primary btn-block" value="Try to expand your question now!" />
                </a>
            </div>
        </div>
    </div>
</div>

