@using MoodleAssistant.Services
@using MoodleAssistant.Components.Upload
@using MoodleAssistant.Logic.Utils
@inject ReplicatorState ReplicatorState
@inject IBrowserFileService FileService;
@inject ILogger<FileParam> Logger;

@{
    const string paramForm = "param-upload";
    var @params = ReplicatorState.Parameters?.GetFileParameters();
    var s = @params is{ Count: > 1 } ? "s" : "";
    var fileH3 = $"{@params!.Count} file parameter{s} found.";
    
    // Get needed file names for each parameter
    Dictionary<string, string[]> neededFileNames = new();
    var headerRow = ReplicatorState.CsvAsList.ElementAt(0);
    foreach (var param in @params){
        var files = new string[ReplicatorState.Parameters!.NeededFiles];
        for (int i = 0; i < ReplicatorState.Parameters!.NeededFiles; i++){
            var index = Array.IndexOf(headerRow, param.Name);
            files[i] = ReplicatorState.CsvAsList.ElementAt(i + 1)[index];
        }
        neededFileNames.Add(param.Name, files);
    }
}

<div class="flex flex-col p-6 border-t border-zinc-200">
    <h3 class="pb-4 text-gray-700 text-center">
        <span class="font-semibold">@fileH3</span> Please upload @ReplicatorState.Parameters!.NeededFiles files for every parameter:
    </h3>
    <form enctype="multipart/form-data" method="post" id="@paramForm" @onsubmit="Submit" data-testid="file-form">
        <AntiforgeryToken />
        <div class="flex flex-row w-max min-w-full justify-center space-x-4">
            @foreach (var param in @params){
                <div class="flex flex-col justify-center">
                    <span class="p-3 code text-center">@param.Match.Value</span>
                    <p>
                        <span class="font-semibold">Needed names: </span>
                        @for(var i = 0; i < neededFileNames[param.Name].Length; i++){
                            var name = neededFileNames[param.Name][i];
                            if(i != neededFileNames[param.Name].Length - 1)
                                name = $"{name}, ";
                            <span>@name</span>
                        }
                    </p>
                    <div class="p-3">
                        <DropInput @ref="_inputs[param.Name]" InputName="@($"{param.Name}-input")" MaxFiles="@ReplicatorState.Parameters!.NeededFiles">
                            <p class="text-inherit">Drop files here, or <span class="text-blue-500 underline ml-[4px]">browse</span>.</p>
                        </DropInput>
                    </div>
                </div>
            }
        </div>
        <div class="flex flex-row mt-3 justify-center">
            <button type="submit" class="btn btn-primary py-1.5 px-6" @onclick="() => _isUploading = true" data-testid="snd-submit">Upload</button>
            <button type="button" class="btn btn-secondary py-1.5 px-6 ml-3" id="clear-files" @onclick="ClearForm">Clear</button>
        </div>
        <div class="flex flex-row md:w-fit md:mx-auto justify-center error-container">
            <Message @ref="_dialog" MsgText="@(ErrorMessage.GetErrorMessage(ErrorMsg))" Type="MessageType.Error" CanClose="true"/>
            @if (_isUploading){
                <Message MsgText="Uploading..." Type="MessageType.Info" CanClose="false"/>
            }
            @if (_successfulUpload){
                <Message MsgText="Files uploaded successfully." Type="MessageType.Success" CanClose="true"/>
            }
        </div>
    </form>
</div>